function Main.main 1
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 0
not
pop local 2
label WHILE_START_1
push local 2
not
if-goto WHILE_END_1
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
if-goto IF_TRUE_2
goto ELSE_TRUE_2
label IF_TRUE_2
push argument 0
push local 0
and
push constant 0
eq
not
if-goto IF_TRUE_3
goto ELSE_TRUE_3
label IF_TRUE_3
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto ELSE_END_3
label ELSE_TRUE_3
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label ELSE_END_3
goto ELSE_END_2
label ELSE_TRUE_2
push constant 0
pop local 2
label ELSE_END_2
goto WHILE_START_1
label WHILE_END_1
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
if-goto IF_TRUE_4
goto ELSE_TRUE_4
label IF_TRUE_4
push constant 1
return
goto ELSE_END_4
label ELSE_TRUE_4
push argument 0
push constant 2
call Math.multiply 2
return
label ELSE_END_4
function Main.fillMemory 0
label WHILE_START_5
push argument 1
push constant 0
gt
not
if-goto WHILE_END_5
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto WHILE_START_5
label WHILE_END_5
push constant 0
return
